body{
  background: #fffdd0;
  overflow-y: scroll;
  padding: 0; 
  margin: 0;
}

h1, h2, h3, h4, h5, p, span, strike{
  font-family: 'Montserrat', sans-serif;
}

#exclamation
{
  font-size: 24px;
  line-height: 24px;
}

#task-title p
{
  width: 100%;
  margin: 0px;
  font-size: 20px;
  line-height: 22px;
}

#task-date p
{
  margin: 0px;
  width: 100%;
  font-size: 12px;
  line-height: 20px;
}

#task-container{
  max-width:600px;
  margin:0 auto;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  background-color: #fff;
  border-radius: 8px;
  margin-top:40px;
  margin-bottom:50px;
}

#form-wrapper{
  border-radius: 8px;
  position: -webkit-sticky;
  position: sticky;
  top: 0rem;
  border-bottom: 1px solid  #e9e9e9;
  background-color: #fff;
  box-shadow: 0 3px 8px rgba(0,0,0,0.25);
  padding:40px;
  /* padding-top: 20px; */
}

#form-wrapper h1 
{
  font-size: 30px;
  text-align: center;
  margin-bottom: 0px;
}

#form-wrapper p 
{
  font-size: 12px;
  text-align: center;
}

#input-container {
  height: 90px;
  width: 70%;
  float: left;
}

#other-input
{
  width: 100%;
  float: left;
  display: flex;
  justify-content: space-between;
}

#priority-container
{
  box-sizing: border-box;
  padding: 0px;
  margin-top: 8px;
  height: 42px;
  width: 50%;
  display: flex;
  justify-content: center;
}

#lo, #hi, #mid {
  text-align: center;
}

#priority-container p 
{
  margin: 0px;
  font-size: 12px;
  height: 15px;
}
#priority-container input
{
  width: 15px;
  height: 15px;
  margin: auto;
}
#priority-container #lo
{
  width: 33%;
  padding: 0px;
  border-radius: 8px 0px 0 8px;
}
#priority-container #mid
{
  width: 33%;
  padding: 0px;
  border-radius: 0px;
}
#priority-container #hi
{
  width: 33%;
  padding: 0px;
  border-radius: 0 8px 8px 0;
}

#date-container
{
  margin-top: 8px;
  height: 42px;
  width: 45%;
  /* border-radius: 8px; */
  /* box-sizing: border-box; */
}
#date-container #date
{
  width: 100%;
  border-radius: 8px;
}

#title {
  height: 42px;
  width: 100%;
  border-radius: 8px;
}

#dropdown {
  width: 10%;
  height: 42px;
}

#submit{
  height: 90px;
  width: 20%;
  background-color: #36d9b6;
  border-radius: 8px;
  border:0;
  color: #fff;
}
#submit:hover{
  height: 90px;
  width: 20%;
  background-color: #36d9b6b4;
  border-radius: 8px;
  border:0;
  color: #fff;
}

.flex-wrapper{
  display: flex;
  justify-content: space-evenly;
}

.task-wrapper{
    cursor: pointer;
    border-bottom: 1px solid  #e9e9e9;
    color: #686868;
    padding:20px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 8px;
}

.task-wrapper:hover{
    background-color: #F0F0F0;
}

#priority
{
  width: 5%;
}

#textarea
{
  width: 65%;
}

#buttons
{
  width: 20%;
  display: flex;
  justify-content: space-evenly;
}
.btn-sm{
  font-size: .8rem;
}

.btn-outline-info {
  color: #36d9b6;
  border-color: #36d9b6;
  /* border-radius: 8px; */
}

.btn-outline-info:hover {
  /* border-radius: 8px; */
  background-color: #36d9b6;
  color: white;
  border-color: #36d9b6;
}

.btn-outline-dark {
  color: #343a40;
  border-color: #343a40;
  /* border-radius: 8px; */
}

.container
{

}

#footer-wrapper
{
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 50px;
  background-color: transparent;
  margin: auto;
  border-radius: 8px 8px 0px 0px;
  text-align: center;
} 

#footer-area
{
  width: 400px;
  height: 50px;
  margin: auto;
  border-radius: 8px;
  background-color: #343a40;
  display: block;
  text-align: center;
  font-size: 16px;
  color: white;
  padding-top: 12px;
}

#footer-area p
{
  font-size: 14px;
  line-height: 14px;
}

#red
{
  color: #36d9b6;
}

#white
{
  color: white;
}

#show
{
  display: block;
}

#hide
{
  display: none;
}